@import "../../../styles/1-variables/_variables";
@import "../../../styles/2-functions/_functions";
@import "../../../styles/3-mixins/_mixins";

button {
    @include control;
    padding: 0 1em;


    // Sizes

    &.-small {
        font-size:      .75rem;
        letter-spacing: .025em;
    }

    &.-large {
        font-size:  1.5rem;
        padding:    0 1.5em;
    }


    // Tags

    @include typeTags;

    &.-primary {
        background-color:   color(brand, primary);
        border-color:       color(brand, primary);
        color:              color(neutral, lightest);

        &:not(:disabled) {
            &:focus, &:hover {
                background-color:   darken(color(brand, primary), 6%);
                border-color:       darken(color(brand, primary), 6%);
                color:              color(neutral, lightest);
            }
        }

        &:disabled {
            border-color:       color(neutral);
            background-color:   color(neutral);
            cursor:             not-allowed;
        }
    }
}