@import "../../../styles/3-mixins/_mixins";

label {

    // Mixins

    @include transition;
    @include typeColors;
    @include typeTags;


    // Base Styles

    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 18em;
    color: color(neutral, dark);


    // Size Variations

    &.-small {
        font-size: .75rem;
        max-width: 18rem;
        letter-spacing: .05em;
    }

    &.-large {
        font-size: 1.25rem;
    }
}