@import "../../../styles/1-variables/_variables";
@import "../../../styles/2-functions/_functions";
@import "../../../styles/3-mixins/_mixins";

a {
    position:           relative;
    color:              color(brand, primary);
    font-size:          1rem;
    font-weight:        bold;
    transition:         all .16s ease-in-out;
    text-decoration:    none;

    &:after {
        position:           absolute;
        content:            "";
        height:             1px;
        background-color:   color(brand, primary);
        bottom:             0;
        left:               0;
        right:              0;
    }

    &.-plain {
        color:          color(neutral, darkest);
        font-weight:    normal;

        &:after {
            display: none;
        }
    }

    &.-undecorated {
        &:after {
            display: none;
        }
    }


    // States

    &:not(:disabled) {
        &:focus, &:hover {
            color: darken(color(brand, primary), 10%);

            &:after {
                background-color: darken(color(brand, primary), 10%);
            }
        }
    }

    &:disabled {
        color:          color(neutral);
        cursor:         not-allowed;
    }


    // Sizes

    &.-small {
        font-size:      .75rem;
        letter-spacing: .025em;
    }

    &.-large {
        font-size:  1.5rem;
    }


    // Tags

    @include typeTags;

    &.-inverse:hover {
        color: darken(color(neutral, lightest), 10%);
    }
}