@import "../../../styles/3-mixins/_mixins";

.icon {

    // Mixins

    @include transition;


    // Base Styles

    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: hidden;

    svg path, svg rect {
        fill: color(neutral, darkest);
    }


    // Size Variations

    &.-large {
        width: 1.25em;
        height: 1.5em;
    }

    &.-xlarge {
        width: 2em;
        height: 2em;
    }

    &.-xxlarge {
        width: 4em;
        height: 4em;
    }


    // Color Variations

    &.color-brand-primary {
        svg path, svg rect {
            fill: color(brand, primary);
        }
    }

    &.color-neutral-lightest {
        svg path, svg rect {
            fill: color(neutral, lightest);
        }
    }

    &.color-neutral-light {
        svg path, svg rect {
            fill: color(neutral, light);
        }
    }

    &.color-neutral {
        svg path, svg rect {
            fill: color(neutral);
        }
    }

    &.color-neutral-dark {
        svg path, svg rect {
            fill: color(neutral, dark);
        }
    }

    &.color-neutral-darkest {
        svg path, svg rect {
            fill: color(neutral, darkest);
        }
    }

    &.color-neutral {
        svg path, svg rect {
            fill: color(neutral);
        }
    }

}