@function color($palette: 'neutral', $shade: 'base', $alpha: 1) {

  // Solid Colors
  @if $alpha == 1 {
    @return map-get(map-get($colors, $palette), $shade);
  }

  // Transparent Colors
  @else {
    @return rgba(map-get(map-get($colors, $palette), $shade), $alpha);
  }
}
