@mixin typeSizes {
    &.-smaller, &.-smallest {
        font-size: .5rem;
        text-transform: uppercase;
        letter-spacing: .05em;
    }

    &.-small {
        font-size: .75rem;
        letter-spacing: .025em;
    }

    &.-large {
        font-size: 1.25rem;
        
    }

    &.-larger {
        font-size: 1.5rem;
        
    }

    &.-largest {
        font-size: 2rem;
    }
}