@import "../../../styles/3-mixins/_mixins";

ul {
    list-style-type: disc;

}

ol {
    list-style: decimal;
}

ol, ul {

    // Base Styles

    font-size: 1rem;
    line-height: 1.5;
    list-style-position: outside;
   

    // Components

    li {
        & + li {
            margin-top: .5em;
        }

        & > .icon {
            margin-right: .5em;
        }
    }

    
    // Variations

    &.-inline {
        li {
            display: inline;

            & + li:before {
                content: ", ";
            }
        }
    }

    &.-undecorated {
        list-style: none;
    }

    // Size Variations

    @include typeSizes;
}